# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Logs
*.log

# Migrations cache
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db