# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Django
db.sqlite3
media/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db